In [5]:
pip install pandas openpyxl

Requirement already satisfied: pandas in c:\users\notebook\appdata\local\programs\python\python313\lib\site-packages (2.3.2)
Requirement already satisfied: openpyxl in c:\users\notebook\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\notebook\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\notebook\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\notebook\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\notebook\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: et-xmlfile in c:\users\notebook\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: six>=1.5 in c:\users\notebook\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd

# Carregar arquivos excel

flights = pd.read_csv(r"C:\Users\Notebook\Documents\Laboratoria\flights_202301.csv")
airline_dict = pd.read_csv(r"C:\Users\Notebook\Documents\Laboratoria\AIRLINE_CODE_DICTIONARY.csv")
dot_dict = pd.read_excel(r"C:\Users\Notebook\Documents\Laboratoria\DOT_CODE_DICTIONARY.xlsx")

# conferir 

print("Voos:")
display(flights.head())

print("Dicionário de companhias aéreas:")
display(airline_dict.head())

print("Dicionário DOT:")
display(dot_dict.head())

Voos:

,FL_DATE,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,CRS_DEP_TIME,DEP_TIME,...,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT,FL_YEAR,FL_MONTH,FL_DAY
0,2023-01-02,9E,20363,4628,BDL,"Hartford, CT",LGA,"New York, NY",800,757.0,...,25.0,101,NaN,NaN,NaN,NaN,NaN,2023,1,2
1,2023-01-03,9E,20363,4628,BDL,"Hartford, CT",LGA,"New York, NY",800,755.0,...,37.0,101,NaN,NaN,NaN,NaN,NaN,2023,1,3
2,2023-01-04,9E,20363,4628,BDL,"Hartford, CT",LGA,"New York, NY",800,755.0,...,28.0,101,NaN,NaN,NaN,NaN,NaN,2023,1,4
3,2023-01-05,9E,20363,4628,BDL,"Hartford, CT",LGA,"New York, NY",800,754.0,...,38.0,101,NaN,NaN,NaN,NaN,NaN,2023,1,5
4,2023-01-06,9E,20363,4628,BDL,"Hartford, CT",LGA,"New York, NY",800,759.0,...,28.0,101,NaN,NaN,NaN,NaN,NaN,2023,1,6

Dicionário de companhias aéreas:

  Code                    Description
0  02Q                  Titan Airways
1  04Q             Tradewind Aviation
2  05Q            Comlux Aviation, AG
3  06Q  Master Top Linhas Aereas Ltd.
4  07Q            Flair Airlines Ltd.

Dicionário DOT:

    Code                      Description
0  19031   Mackey International Inc.: MAC
1  19032  Munz Northern Airlines Inc.: XY
2  19033       Cochise Airlines Inc.: COC
3  19034   Golden Gate Airlines Inc.: GSA
4  19035               Aeromech Inc.: RZZ

In [16]:
# Ver dimensões
print("Voos:", flights.shape)
print("Airline dict:", airline_dict.shape)
print("DOT dict:", dot_dict.shape)

# Resumo das colunas
flights.info()
airline_dict.info()
dot_dict.info()

Voos: (538837, 33)
Airline dict: (1729, 2)
DOT dict: (1737, 2)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 538837 entries, 0 to 538836
Data columns (total 33 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   FL_DATE                  538837 non-null  object
 1   AIRLINE_CODE             538837 non-null  object
 2   DOT_CODE                 538837 non-null  int64
 3   FL_NUMBER                538837 non-null  int64
 4   ORIGIN                   538837 non-null  object
 5   ORIGIN_CITY              538837 non-null  object
 6   DEST                     538837 non-null  object
 7   DEST_CITY                538837 non-null  object
 8   CRS_DEP_TIME             538837 non-null  int64
 9   DEP_TIME                 528859 non-null  float64
 10  DEP_DELAY                528855 non-null  float64
 11  TAXI_OUT                 528640 non-null  float64
 12  WHEELS_OFF               528640 non-null  float64
 13  WHEELS_ON                528318 non-null  float64
 14  TAXI_IN                  528318 non-null  float64
 15  CRS_ARR_TIME             538837 non-null  int64
 16  ARR_TIME                 528318 non-null  float64
 17  ARR_DELAY                527197 non-null  float64
 18  CANCELLED                538837 non-null  int64
 19  CANCELLATION_CODE        538837 non-null  object
 20  DIVERTED                 538837 non-null  int64
 21  CRS_ELAPSED_TIME         538836 non-null  float64
 22  ELAPSED_TIME             527197 non-null  float64
 23  AIR_TIME                 527197 non-null  float64
 24  DISTANCE                 538837 non-null  int64
 25  DELAY_DUE_CARRIER        116713 non-null  float64
 26  DELAY_DUE_WEATHER        116713 non-null  float64
 27  DELAY_DUE_NAS            116713 non-null  float64
 28  DELAY_DUE_SECURITY       116713 non-null  float64
 29  DELAY_DUE_LATE_AIRCRAFT  116713 non-null  float64
 30  FL_YEAR                  538837 non-null  int64
 31  FL_MONTH                 538837 non-null  int64
 32  FL_DAY                   538837 non-null  int64
dtypes: float64(16), int64(10), object(7)
memory usage: 135.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1729 entries, 0 to 1728
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Code         1728 non-null   object
 1   Description  1729 non-null   object
dtypes: object(2)
memory usage: 27.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1737 entries, 0 to 1736
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Code         1737 non-null   int64
 1   Description  1733 non-null   object
dtypes: int64(1), object(1)
memory usage: 27.3+ KB